html {
    height: 100%;
}

body{
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#bdbdbd;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #263238;
}

.body{
    min-height: 100%;
    margin: auto;
}

.rs{
    padding-right: 10px;
    
}
.collapsibleInformation{
    margin-left: 5%;
    display:inline-block;
}

.index-container{
    margin-top: -50px;
    margin-bottom: -50px;
    width: 120%;
    margin-left: -10%
}
.menu{
    font-family: 'Satisfy', cursive ;
    margin-bottom: 50px;
}
nav ul li{
  background-color: #212121;
  background-image: linear-gradient(dodgerblue, dodgerblue);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out !important;
}

nav ul li:hover {
   background-size: 100% 5px, auto;
   background-color: #3f3f3f;
}

.categorias{
    width: 85%;
    margin: auto;
}

blockquote{
    border-left:5px solid #757575 !important;
    text-align: left !important;
    font-family: 'Satisfy', cursive !important;
}

.modelo-img{
    border:5px solid #70707099;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out !important;
}

.modelo-img:hover{
    border:5px solid #70707099;
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}
.userEmail{
    margin-right: 4%;
}

.brand-logo{
    font-family: 'Satisfy', cursive;
}

h4{
    font-family: 'Comfortaa', cursive;
    color: #263238; 
}

h5, p{
    font-family: 'Comfortaa', cursive;
    color: #263238;
}

.myFooter{
    margin-top:50px;
}

.myFooterContainer{
    padding-bottom:20px;
}

label{
    color:#7c7c7c !important;
    font-family: 'Satisfy', cursive !important; 
    font-size: 1.2em !important;
}

.myField{
    text-align: center
}

::placeholder { 
  font-family: 'Satisfy', cursive !important;
  opacity: 1 !important; 
}
.errorlist
    {
        color: red;
    }
    
/* or if you want to change field border color then */
.error input, .error select {
border: 2px red solid;
}

.rating {
  width: 208px;
  height: 40px;
  margin: 0 auto;
}
.rating label {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "\2605";
  font-size: 42px;
  color: #CCCCCC;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
  color: #F9DF4A;
}

.rating .character-counter{
    display: none !important;
}

/* profile card */
#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  left:10%;
  width: 150px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .card-users-image {
  left:10%;
  width: 75px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top:20%;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}

