{% load i18n static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <!-- Control de autenticacion con Google -->
        <meta name="google-site-verification" content="ewIBHJWCo3oagHnyHw73YqJdRYTH1GlWhPKjsDLCVVA" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Import ajax and jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/base.css"%}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Satisfy" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css"%}"> 
        <!--Import materialize.js-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png'%}"/>
        <style type="text/css"> 
            .social-icon {
                height: 30px;
                margin-left: 15px;
                margin-top: 16px;
            }
            .admin-icon {
                height: 30px;
                margin-top: 16px;
            }
            .logged-email {
                margin-left: 10px;
            }
        </style>
        {% block extrahead %}
        {% endblock %}
      
        <!-- Initialize Materialize JS -->
        <script type="text/javascript">
            function initMaterialize(){
                M.AutoInit();
            } 
      
            $(document).ready(function(){
              $('select').formSelect();
            });
        </script>
        
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body onload="initMaterialize()">
    
        <script>
                window.fbAsyncInit = function() {
                    FB.init({
                    appId      : '{your-app-id}',
                    cookie     : true,
                    xfbml      : true,
                    version    : '{api-version}'
                    });
                    
                    FB.AppEvents.logPageView();   
                    
                };
                
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
            </script>    

        <nav class="menu" style="overflow: hidden !important;">
                <div class="nav-wrapper grey darken-4">
                        {% if user.is_authenticated %}
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% if request.session|get_value_from_dict:'google-oauth2_state' != None and request.session|get_value_from_dict:'_auth_user_id' != None %}
                                    <img class="rs left admin-icon padding-2"  src="{% static 'img/google_icon.png'%}"/>
                                {% elif request.session|get_value_from_dict:'github_state' != None and request.session|get_value_from_dict:'_auth_user_id' != None %}
                                    <img class="rs left admin-icon" src="{% static 'img/github_icon.png'%}"/>
                                {% elif request.session|get_value_from_dict:'facebook_state' != None and request.session|get_value_from_dict:'_auth_user_id' != None %}
                                    <img class="rs left admin-icon" src="{% static 'img/Facebook.png'%}"/>
                                {% else %}
                                    <i class="material-icons left">account_circle</i>
                                {% endif %}
                                <li><a href="/profile"><span class="logged-email">{{ user.email }} </span></a></li>
                                <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
                            </ul>
                        {% endif %}
                        {% if user.is_authenticated == False %}
                            <div class="userEmail right">
                                <ul class="right hide-on-med-and-down">
                                    <li><a href="/form-login?next={{request.path}}">{% trans "Log in"%}</a></li>
                                    <li><a href="/signup/">{% trans "Sign up"%}</a> </li>
                                    <li><a href="{% url 'social:begin' 'google-oauth2' %}"><img height="20px !important" src="{% static 'img/google_icon.png'%}"/></a></li>
                                    <li><a href="{% url 'social:begin' 'github' %}"><img height="20px !important" src="{% static 'img/github_icon.png'%}"/></a></li>
                                    <li><a href="{% url 'social:begin' 'facebook' %}"><img height="20px !important" src="{% static 'img/Facebook.png'%}"/></a></li>
                                </ul>    
                            </div>
                        {% endif %}
                        <a href="/" class="brand-logo center">Ganimedes<i class="material-icons right">data_usage</i></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            {% block menu_options %}
                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <div class="col s12 language1">
                                        <select class="browser-default" name="language" onchange="this.form.submit()">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}  
                                            {% for lang in LANGUAGES %}
                                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected disabled hidden {% endif %}>
                                                {{ lang.1 }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </li>
                            <li><a href="/brands"><i class="material-icons">motorcycle</i></a></li>
                            <li><a href="/users"><i class="material-icons">account_circle</i></a></li>
                            <li><a href="/visualizer/list_ended/">{% trans 'Closed Votings' %}</a></li>

                            {% endblock %}
                        </ul>
                        
                </div>
        </nav>
    
       
        
        <style>
        .language {
            width:115px;
        }
        .language1 {
            margin-top:10px !important;
        }
        .language2 {
            opacity:0.9 !important;
            border-radius: 6px !important;
        }
        
        </style>
         
            
        <script type="text/javascript" src="{% static "js/materialize.js"%}"></script>
        
        <div class="body">
            {% block content %}
            {% endblock %}

            {% block extrabody %}

            {% endblock %}
        </div>

        <div class="decideFooter">
            <footer class="page-footer grey darken-4">
                    <div class="decideFooterContainer container">
                        <span><a class="grey-text text-lighten-4" target="_blank" href="https://github.com/decide-ganimedes/decide-ganimedes">&copy; 2018 Decide-Ganimedes</a> - AGPLv3.0</span>
                        <span> <a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/decide-ganimedes/decide-ganimedes/releases">vM3-2019</a></span> <span class="right"><a href="/admin"><img src="{% static 'img/django_icon.png'%}" width="25px" height="25px" /></a> </span>
                      
                </div>
            </footer> 
        </div>  
    </body>
</html>