{% extends 'base.html' %} {% load i18n static %} {% load custom_tags %}

{% block content %}

<h4>{% trans "Brands" %}</h4>
<br>
<div class="search-bikes row">
	<div class="col s6 offset-s3">
        <form id='form' method='get' action=''>
            <nav>
			    <div class="nav-wrapper grey">
                        {{form.as_p}}
			    </div>
            </nav>
        </form>
	</div>
</div>


<div class="categorias">
        <div class="row card grey">
        	{% if marcas %} 
				{% for marca in marcas %}
					<div class="categoria col s12 m6 l2">
                        <span style="font-family: 'Comfortaa' !important;font-size: 10px; color:black;"class="card-title">{{marca.marcaNombre}}</span>
						<div class="card-image">
								<a href="/models/{{marca.marcaNombre}}"><img src="{{marca.logo}}" class="modelo-img materialbox responsive-img card" /></a>
                                

                        </div>
					</div>
				{% endfor %} 
			{% else %}
				<br>
				<p>{% trans "There are not available brands" %}</p>
			{% endif %}
    	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		$('.collapsible').collapsible();
	});
</script>


{% endblock %}
