{% extends 'base.html' %}
{% load i18n static %}
{% load custom_tags %}
  
{% block content %}

<div class="container">

	{% if mensaje is not None %}
		<p>{{mensaje}}</p>
	{% endif %}   

  <div class="col s12 m7">
    <div class="card horizontal grey">
      <div class="card-image">
        <img height="100%" src="{{moto.foto}}/">
      </div>
      <div class="card-stacked">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{moto.modelo}}</span>
                <blockquote>
                    <p>{% trans "Displacement" %}: {{moto.cilindrada}}</p> 
                </blockquote>
                <blockquote>
                    <p>{% trans "Maker" %}: {{moto.marcaNombre}}</p> 
                </blockquote>
                <blockquote>
                    <p>{% trans "Maximum power" %}: {{moto.potencia_maxima}}</p> 
                </blockquote>
                <blockquote>
                    <p>{% trans "Marketing period" %}: {{moto.periodo_comercializacion}}</p> 
                </blockquote>
                </div>
             
            
            {% if user.is_authenticated == True %}
            	{% if added == False %}
	                <div class="row">
	                    <a href="http://localhost:8000/add-moto/{{moto.id}}" class="grey darken-2 waves-effect waves-light btn pulse">{% trans "Add to your bikes" %}</a>
	                </div>
	            {% endif %}
                <div class="card-action">
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" onclick="window.location.replace('http://localhost:8000/rating/{{moto.id}}/5');" /><label class="star" for="star5"></label>
	                    <input type="radio" id="star4" name="rating" value="4" onclick="window.location.replace('http://localhost:8000/rating/{{moto.id}}/4');" /><label class="star" for="star4"></label>
	                    <input type="radio" id="star3" name="rating" value="3" onclick="window.location.replace('http://localhost:8000/rating/{{moto.id}}/3');" /><label class="star" for="star3"></label>
	                    <input type="radio" id="star2" name="rating" value="2" onclick="window.location.replace('http://localhost:8000/rating/{{moto.id}}/2');" /><label class="star" for="star2"></label>
	                    <input type="radio" id="star1" name="rating" value="1" onclick="window.location.replace('http://localhost:8000/rating/{{moto.id}}/1');" /><label class="star" for="star1"></label>
                    </div>
                </div>
                
            {% endif %}
 
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.collapsible').collapsible();
});  

</script>


{% endblock %}