{% extends 'base.html' %}
{% load i18n static %}
{% load custom_tags %}
  
{% block content %}

<div class="container">
  <div class="col s12 m7">
    <div class="card horizontal grey">
      <div class="card-image">
        <img src="{{moto.foto}}/">
      </div>
      <div class="card-stacked">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{moto.modelo}}</span>
                <blockquote>
                    <p>Cilindrada: {{moto.cilindrada}}</p> 
                </blockquote>
                <blockquote>
                    <p>Fabricante: {{moto.marcaNombre}}</p> 
                </blockquote>
                <blockquote>
                    <p>Potencia maxima: {{moto.potencia_maxima}}</p> 
                </blockquote>
                <blockquote>
                    <p>Periodo de comercializacion: {{moto.periodo_comercializacion}}</p> 
                </blockquote>
                </div>
            {% if user.is_authenticated == True %}
                <div class="row">
                    <a class="grey darken-2 waves-effect waves-light btn pulse">Add to your bikes</a>
                </div>
                <div class="card-action">
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="star" for="star5"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="star" for="star4"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="star" for="star3"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="star" for="star2"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="star" for="star1"></label>
                    </div>
                </div>
            {% endif %}
 
        
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.collapsible').collapsible();
});  

</script>


{% endblock %}